{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'rate/bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="content">
    <div class="d-flex justify-content-around">
    {% for i in a%}
    <div class="card" style="width: 18rem;border: 2px solid blue;">
        
        <div class="card-body">
          <h5 class="card-title">{{i.course_id}}</h5>
          <p class="card-text">Department: {{i.course_department}}</p>
          <p class="card-text">Course Description<br>: {{i.course_description}}</p>
          <a href="#" class="btn btn-primary">More</a>
        </div>
      </div>
    {%endfor%}
</div>
</body>
</html>